/* ОБНУЛЕНИЕ */
*{
	padding: 0;
	margin: 0;
	border: 0;
	}	
*,*::before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* СТИЛИ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body{
	font-family: 'Roboto', sans-serif;
}

.wrapper{
	max-width: 100%;
	margin: 0 auto;
}

/* header */
.header{
	height: 100%;
	width: 100%;
} 

.container{
	max-width: 1246px;
	margin: 0 auto;
} 

/* header top */
.header__top{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 99px;
	align-items: center;
	margin-left: -22px;
}

.header__delivery, .header__call{
	display: flex;
	justify-content: space-between;
	align-items: center;
} 

.header__search{
padding-right: 34.36px;
padding-left: 227.36px;
max-width: 100%;
} 

.header__time{
font-size: 14px;
line-height: 16px;
padding-bottom: 6px;
} 

.link:focus{
 text-decoration-line: underline;
 color: blue;
}

.header__link--red{
	text-decoration-line: underline;
	text-transform: capitalize;
	color: #B4372C;
}

.header__fone{
	padding-right: 10px;
	padding-left: 49px;
	align-self: flex-start;
	max-width: 100%;
	max-height: 100%;
} 

.header__number{
	padding-bottom: 2.57px;
	font-size: 16px;
	line-height: 19px;
}
.header__back-call, .header__link--red {
	text-transform: none;
}

.header__back-call{
	padding-right: 25px;
}

.header__order{
	padding-right: 43px;
} 

.header__button{
	height: 35px;
	width: 155px;
	border-radius: 10px;
	background: #FFB800;
	font-size: 14px;
	line-height: 16px;
	text-transform: lowercase;
	color: #FFFFFF;
} 

.header__lk{
	display: flex;
} 

.header__like{
	width: 30px;
	height: 28px;
} 

.header__like a{
	position: relative;
}

.header__like span{
	position: absolute;
	left: 65%;
	bottom: 25%;
	border-radius: 50%;
	font-size: 9px;
	text-align: center;
	line-height: 18px;
	color: #ffffff;
	background-color: #B4372C;
	width: 17px;
	height: 17px;
	} 

.header__basket {
	padding-right: 51px;
	padding-left: 35px;
	position: relative;
	align-self: center;
} 

.header__basket a{
	border-radius: 50%;
	color: #ffffff;
	background-color: #B4372C;
	padding: 14px 6.5px 8.54px 6.5px;
	position: relative;
}

.header__line{
	display: block;
	position: relative;
	z-index: 1;
}

.header__line:before,
.header__line:after{
	content: '';
	position: absolute;
	width: 9.4px;
	height: 1px;
}

.header__line:before{
	transform: rotate(-50deg);
	background-color: #ffffff;
	left: 9px;
	bottom: 2px;
}

.header__line:after{
	transform: rotate(50deg);
	background-color: #ffffff;
	right: 9px;
	bottom: 2px;
}

.header__basket span{
	position: absolute;
	left: 70%;
	bottom: 60%;
	border-radius: 50%;
	font-size: 9px;
	text-align: center;
	line-height: 18px;
	color: #ffffff;
	background-color: #000000;
	width: 17px;
	height: 17px;
	z-index: 1;
}

/* menu */
.menu{
	background-color: #F34738;
	width: 100%;
}

.menu__nav ul{
	display: flex;
	max-width: 1223px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-left: -3px;
	margin-right: 11px;
	padding: 21px 0px;
	font-size: 14px;
} 

.link{
	font-size: 14px;
	line-height: 16px;
	align-self: center;
	color: #000000;
}

.menu__link--wite{
	color: #FFFFFF;
}

/* advantages */
.advantages 

.advantages__block{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: 0px -51px;
} 

.advantages__column{
	flex: 0 1 25%;
	padding: 45px 51px 46px 51px;
} 

.advantages__item{
	display: flex;
	align-items: center;
	border: 1px solid #ffffff;
	filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
	border-radius: 14px;
	width: 239px;
	height: 117px;
}

.advantages__img{
	padding-left: 23px;
} 

.text{
	font-size: 16px;
	line-height: 19px;
} 

.banner__text{
	padding-right: 18px;
	padding-left: 23px;
} 

/* tabs */
.tabs 

.tabs__wraper{

} 

.tabs__offer{
	display: flex;
	padding-bottom: 29px;
} 

.tabs__offer li{
	padding-left: 23px;
	font-size: 16px;
	line-height: 19px;
}

.tabs__block{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tabs__column{
	/* flex: 0 1 33.333%; */
	max-width: 310px;
	margin-bottom: 59px;
} 

.tabs__item{
	border: 1px solid #D0D0D0;
	border-radius: 10px;
} 

.tabs__img{
	max-width: 100%;
} 

.tabs__description{
	padding: 14px 20px 26px 19px;
}

.tabs__title{
line-height: 16px;
font-weight: 900;
text-transform: uppercase;
font-family: Roboto;
padding-bottom: 18px;
} 

.tabs__text{
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 13px;
} 

.tabs__checkbox{
	display: flex;

} 

.tabs__product{
	display: flex;
} 

.tabs__btn a{
	width: 100%;
	border-radius: 5px;
	color: #000000;
	background-color: #ffffff;
	height: 41px;
	text-align: center;
	border: 1px solid #A4A4A4;
	font-size: 14px;
	line-height: 16.41px;
	font-weight: 400;
	margin-left: 44%;
}

.btn--catalog{
	padding: 12px 10px;
}

.text-bold{
	font-weight: 900;
}

/* блок news */
.news{
margin-top: 67px;
} 

.h2{
	font-size: 26px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
} 

.news__item .h2{
	color: #FFFFFF;
	display: block;
}

.news__title{
	margin-bottom: 30px;
} 

.news__block{
	display: flex;
	justify-content: space-between;
} 

.news__column{
	flex: 0 1 29%;
	height: 363px;
} 

.news__column--one{
	border-radius: 0px 0px 30px 30px;
	background-color: #F34738;
}

.news__column--one a{
	padding-top: 15px;
	padding-left: 26px;
}

.news__column--one .h2{
	margin-bottom: 47px;
}

.news__item{
	display: block;
} 

.news__link{
	display: block;
} 

.news__link{
	text-decoration: underline;
} 

.news__column--tow{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.news__column--tow .news__item{
	height: 47%;
}

.news__column--tow .news__item:not(:last-child) {
	margin-bottom: 19px;
}

.news__column--tow .news__item:first-child{
	border-radius: 25px 25px 0px 0px;
	background-color: #F68C82;
} 

.news__column--tow .news__item:last-child{
	border-radius: 0px 0px 25px 25px;
	background-color: #3F2521;
} 

.news__column--tow  a:first-child{
	padding-top: 28px;
	padding-left: 26px;
}

.news__column--tow  a:last-child{
	padding-top: 19px;
	padding-left: 26px;
}

.news__column--tow .news__item:first-child .h2{
	margin-bottom: 44px;
}

.news__column--tow .news__item:last-child .h2{
	margin-bottom: 24px;
}

.news__column--three{
	border-radius: 0px 0px 25px 25px;
	background-color: #8E544B;
} 

.news__column--three a{
	padding-top: 16px;
	padding-left: 22px;
}

.news__column--three .h2{
	margin-bottom: 47px;
}

/* about us block */
.about-us{
	position: relative;
	padding-top: 138px;
	padding-bottom: 189px;
} 

.about-us__text{
max-width: 676px;
}

.about-us__h2{
	margin-bottom: 54px;
} 

.about-us__text p{
	line-height: 22px;
}

.about-us__text p:not(:last-child){
margin-bottom: 30px;
}


.about-us__pie{
	position: absolute;
	right: 0;
	top: 0;
	max-width: 100%;
	max-height: 1000px;
} 

/* block address */

.address{
	
} 

.address__body{
	border-radius: 15px;
	border: 1px solid #C9C9C9;
	margin-bottom: 128px;
} 

.address__title{
	font-size: 18px;
	font-weight: 700;
	line-height: 29px;
	margin: 59px 0px 46px 29px;
	
} 

.address__wrapper{
	display: flex;
	padding-left: 30px;
	padding-bottom: 100px;
	padding-right: 130px;
} 

.address__left-block 

.address__city{
	margin-top: 28px;
	margin-bottom: 23px;
	font-weight: 700;
} 

.address__outlets{
	display: flex;
	flex-wrap: wrap;
	margin-top: 23px;
} 

.address__outlets li{
	width: 50%;
	margin-bottom: 28px;
}

.address__outlets li:last-child{
	margin-bottom: 23px;
}

.address__street{
	color: #000000;
	
} 

.address__text {
	line-height: 22.43px;
} 

/* footer */
.footer {
	background-color: #F5F5F5;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	
}

.footer__year {
	padding-bottom: 16px;
	padding-top: 18px;
	font-size: 12px;
}


.footer__social-logo {
	display: flex;
}

.footer__social-logo li{
	margin-right: 9px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #C4C4C4;
	text-align: center;
	padding-top: 6px;
}

.footer__nav ul {
	display: flex;
	padding-top: 16px;
}

.footer__link {
	font-weight: 300;
	padding-right: 28px;
}

.footer__fone:first-child {
	padding-top: 24px;
	padding-bottom: 10px;
}